
.divan {
    padding-bottom: 30px;
}

.itemsWrapper {
    display: grid;
}
.divan-title {
    font-weight: 700;
    line-height: 1;
    font-size: 1.4rem;
    padding-top: 20px;
    margin-bottom: 50px;
}

@media(min-width: 576px) {
    .itemsWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 768px){
    .divan {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .divan-title {
        padding-top: 0;
    }

    .divan-title {
        font-size: 2rem;
        margin-left: 20px;
    }
    .imgInner {
        margin-top: 30px;
    }
}
@media(min-width: 992px) {
    .itemsWrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
