
.title {
    font-size: 1.625em;
    line-height: 1.1;
    text-align: center;
    margin-top: 0.8em;
    margin-bottom: 20px;
    font-weight: 700;
}
.info {
    color: #91a6ba;
    margin: 0 0 15px;
    padding-left: 20px;
}