.superHeader {
    display: none;
}
@media(min-width: 768px) {
    .superHeader {
        display: block;
        background-color: #3960ff;
        font-size: 16px;
    }
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 0.5em 0;
        font-size: .9em;
        max-width: 720px;
        margin: 0 auto;
    }
    .link {
        color: #f6f911;
        padding-right: 20px;
    }
    .link a {
        color: inherit;
        text-decoration: none;
    }
    .address {
        color: inherit;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(min-width: 992px){
    .inner {
        max-width: 960px;
    }
}
@media(min-width: 1200px){
    .inner {
        max-width: 1190px;
    }
}
@media(min-width: 1400px){
    .inner {
        max-width: 1390px;
    }
}

