
.popupWrapper {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 1050;*/
    /*display: none;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*outline: 0;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*background: rgba(255,255,255,.7);*/
}
.popupContainer {
    position: relative;
    margin: 50px auto 30px;
    padding: 30px;
    width: 70%;
    background: #fff;
    box-shadow: 0 10px 30px -10px rgba(0,0,0,.3);
    z-index: 1070;
}
.closeBtn {

}
.inner {
    display: flex;
    justify-content: space-between;
}