
.facebookLink,
.vkLink,
.telegramLink,
.instaLink{
    font-size: 1.3em;
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: #fff;
    padding: 3px 0.1em 0.1em;
    margin: 0 2px 4px 2px;
    border-radius: 4px;
    transition: all .3s;
}
.facebookLink:hover{
    box-shadow: inset 0 0 0 1px #4267b2;
}
.vkLink:hover{
    box-shadow: inset 0 0 0 1px #4a76a8;
}
.telegramLink:hover{
    box-shadow: inset 0 0 0 1px #289fd9;;
}
.instaLink:hover{
    box-shadow: inset 0 0 0 1px #d8478f;
}
.facebookLink img,
.vkLink img,
.telegramLink img,
.instaLink img {
    padding: 0 0.2em;
}
