header a:hover {
    color: #f43c33;
}
.header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    margin-bottom: 30px;
    z-index: 30;
}
.headerInner {
    position: relative;
}

.imgBlock {
    display: flex;
    justify-content: center;
    flex: 0.6;
}
.imgWrapper {
    display: block;
    max-width: 125px;
}
.imgWrapper img {
    width: 100%;
    height: auto;
}
.headerSocials {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
.headerBottom {
    margin-top: 20px;
}
.phone {
    position: relative;
    margin-bottom: 0.7em;
    line-height: 1.3;
    white-space: nowrap;
    margin-top: 30px;
    font-size: 1.1em;
    text-align: center;
}
.phone a {
    position: relative;
    display: inline-block;
    color: #111;
    text-decoration: none;
    padding-left: 1.4em;
    font-size: 1rem;
}
.phone small {
    font-size: 80%;
}
.phone a:before {
    content: "☎";
    position: absolute;
    top: 0.15em;
    left: 0;
    font-size: .9em;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.favouritesWrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}
.favourites {
    display: block;
    margin-right: 9px;
}
.favourites:before {
    content: "♥";
    color: #111;
    font-size: 1.3em;
    vertical-align: sub;
}
.favourites,
.compare {
    position: relative;
}
.favourites:hover:before,
.compare:hover:before {
    color: #f43c33;
}
.favourites sup,
.compare sup{
    display: none;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: 0.1em;
    margin-left: -0.4em;
    padding-top: 0.3em;
    background: #f43c33;
    color: #fff;
    text-align: center;
    line-height: 1;
    border-radius: 50%;
}

.active sup {
    display: inline-block;
}
.compare:before {
    content: "📈";
    color: #111;
    font-size: 1.3em;
    vertical-align: sub;
}

@media(min-width: 768px) {
    .imgBlock {
        padding-right: 0;
        text-align: left;
        justify-content: flex-start;
    }
    .imgWrapper {
        padding-left: 40px;
        margin: 0 1.3rem 0 0;
    }
    .headerInner {
        max-width: 720px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 45px;
        padding-right: 45px;
    }
    .headerSocials {
        flex-wrap: wrap;
        flex: 1;
        max-width: 127px;
        margin-top: 0;
    }
    .favourites,
    .compare {
        padding: 0.5em 0.8em
    }
    .phone {
        flex: 0.9;
    }
    .phone a {
        margin-top: 0.5em;
    }
}
@media(min-width: 992px){
    .headerInner {
        max-width: 960px;
    }
    .imgWrapper {
        padding-left: 0;
        width: 64px;
    }
}
@media(min-width: 1200px){
    .headerInner {
        max-width: 1190px;
    }
    .imgWrapper {
        padding-left: 0;
        width: auto;
    }
    .headerSocials {
        max-width: none;
    }
    .phone {
        margin: 0;
    }
}
@media(min-width: 1400px) {
    .headerInner {
        max-width: 1390px;
    }
}