
.badge {
    top: 15px;
    right: -1px;
    position: absolute;
    color: #fff;
    z-index: 1;
}
.new,
.sale,
.hit {
    font-size: 0.9em;
    color: #fff;
    padding: 0.3em 1em;
    margin-bottom: 3px;
}
.new {
    background-color: #099925;
}
.sale {
    background-color: #f43c33;
}
.hit {
    background-color: #dd9933;
}