input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.cartItem {
    position: relative;
}
.cartItem td {
    display: block;
    text-align: right;
    clear: both;
    padding: 14px 0;
}
.cartItem strong {
    font-weight: 700;
}
.cartItemImg {
    width: 80px;
    height: auto;
}
.cartItem .productThumbnail {
    text-align: left;
}
.productSubtotal {

}
.plusButton,
.minusButton
{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    opacity: .7;
}
.plusButton {
    right: 0;
}
.plusButton:before{
    content: "+";
}
.minusButton:before{
    content: "-";
}
.minusButton {
    left: 0;
}
.plusButton:hover:before,
.minusButton:hover:before
{
    color: #4d3bfe;
}
.inputWrapper {
    position: relative;
    display: inline-block;
    max-width: 150px;
}
.input {
    font-weight: 400;
    border: 1px solid rgba(0,0,0, 0.3);
    text-align: center;
    width: 100%;
    padding: 0.35em 2em;
}
.input:focus {
    color: #111;
    background-color: #fff;
    border-color: #4d3bfe;
    outline: 0;
}
.deleteBtn {
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 0;
    border: none;
    color: #111;
    font-size: 1.5em;
    font-weight: 300;
}
.deleteBtn:hover {
    color: #f43c33;
}
@media(max-width: 767px) {
    .cartItem .productName:before,
    .cartItem .productPrice:before,
    .cartItem .productQuantity:before,
    .cartItem .productSubtotal:before{
        content: attr(data-title) ": ";
        font-weight: 600;
        float: left;
    }
}
@media(min-width: 768px) {
    .cartItem {
        display: table-row;
    }
    .cartItem td {
        display: table-cell;
        text-align: center;
    }
    .inputWrapper {
        max-width: 111px;
    }
    .deleteBtn {
        top: 18px;
    }
}