
.cartItem {
    position: relative;
}
.cartItem td {
    display: block;
    text-align: right;
    clear: both;
    padding: 14px 0;
}
.cartItem strong {
    font-weight: 700;
}
.cartItemImg {
    width: 80px;
    height: auto;
}
.cartItem .productThumbnail {
    text-align: left;
}
.productSubtotal {

}

.deleteBtn {
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 0;
    border: none;
    color: #111;
    font-size: 1.5em;
    font-weight: 300;
}
.deleteBtn:hover {
    color: #f43c33;
}
@media(max-width: 767px) {
    .cartItem .productName:before,
    .cartItem .productPrice:before,
    .cartItem .productQuantity:before,
    .cartItem .productSubtotal:before{
        content: attr(data-title) ": ";
        font-weight: 600;
        float: left;
    }
}
@media(min-width: 768px) {
    .cartItem {
        display: table-row;
    }
    .cartItem td {
        display: table-cell;
        text-align: center;
    }
    .deleteBtn {
        top: 18px;
    }
}