.footer :global(.active){
    color: #111;
}
.footer {
    padding: 50px 20px;
    background: #f8f8f8;
    font-size: .9em;
}
.footerLinks {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
.footer p {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #111;
}
.footerInfo:before {
    content: "";
    display: block;
    width: 10em;
    overflow: hidden;
}
.footer small {
    font-size: 80%;
}

.logoWrapper img {
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
}
.footerNav {
    margin-bottom: 20px;
}
.navLink {
    display: block;
    color: #3960ff;
    margin: 0.2em 0;
    transition: all .3s;
}
.navLink:hover {
    transform: translateX(-3px) translateZ(0);
    color: #f43c33;
}
.navTitle {
    font-weight: 700;
    font-size: 1.05em;
    margin-bottom: 1em;
}

.wordpressBlock {
    margin-bottom: 2.5rem;
}
.copyright {
    margin-bottom: 0;
}

@media(min-width: 768px) {
    .innerWrapper {
        max-width: 720px;
        margin: 0 auto;
        padding-left: 45px;
        padding-right: 45px;
    }
    .footerInner {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 40px;
        padding-bottom: 40px;
        margin-left: -20px;
        margin-right: -20px;
    }
    .footerLinks {
        display: block;
        text-align: left;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .navTitle {
        margin-top: 0;
    }
    .footerWidget,
    .footerNav {
        margin: 0 20px;
    }
    .footerInfo{
        max-width: 240px;
    }
    .wordpressBlock {
        margin: 1rem 0;
    }
    .logoWrapper img {
        margin-bottom: 10px;
    }

}
@media(min-width: 992px){
    .innerWrapper {
        max-width: 960px;
    }
    .footerInfo{
        max-width: 380px;
    }
}
@media(min-width: 1200px){
    .innerWrapper {
        max-width: 1190px;
    }
    .footerInfo{
        max-width: 500px;
    }
}
@media(min-width: 1400px){
    .innerWrapper {
        max-width: 1390px;
    }
}